/* ===========================
   GLOBAL
   =========================== */

body {
  margin: 0;
  font-family: sans-serif;
}

input[type="file"] {
  display: none;
}

.navbar-brand {
    font-size: 12px;
    padding-top: 0px !important;
}
.navGroupTools {
    padding-left: 2px;
    padding-right: 2px;
    border-right-style: dotted;
    border-color:gray;
}

.githubSection {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.nav-item {
    display: inline-flex;
}



/* ===========================
   TOOLBOX / PROTOTYPES
   =========================== */

#protoPanel {
  width: 140px;
  padding: 1px;
  overflow-y: auto;
  background: #ffffff;
}

/* ===========================
   PROTO BUTTONS
   =========================== */

.proto-box {
  padding: 1px;
  display: inline;
  //flex-wrap: wrap;
  width: auto;
  gap: 1px;
}

.proto-btn {
  width: 40px;
  height: 40px;              /* 🔒 hauteur FIXE */
  //display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px;
  cursor: pointer;

  border: 1px solid #999;
  border-radius: 3px;
  background: #fff;

  font-size: 11px;
  text-align: center;
}

.proto-btn img {
  max-width: 100%;
  max-height: 100%;          /* 🔒 jamais dépasser le bouton */
  object-fit: contain;
  display: block;
}


.proto-btn:hover {
  background: #e8e8e8;
}

/* ===========================
   OPTIONAL : PROTO VIEWER
   =========================== */

#protoView {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#protoView h3 {
  margin: 0 0 6px 0;
}

#protoText {
  flex: 1;
  width: 100%;
  resize: none;
  font-family: monospace;
  font-size: 13px;
}
