summary.proto-summary {
  display: block;
}

summary.proto-summary::marker,
summary.proto-summary::-webkit-details-marker {
  display: none;
}

.proto-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 110px:
}

#protoPanel {
  width: 130px;
}
//.tools{
//   width: 110px;
//}

/* 🔥 OVERRIDE BOOTSTRAP */
.proto-btn {
  display: inline-flex !important;
  width: 42px !important;
  height: 42px;

  align-items: center;
  justify-content: center;

  padding: 1px;
  cursor: pointer;

  border: 1px solid #999;
  border-radius: 3px;
  background: #fff;

  font-size: 10px;
}

.proto-btn img {
  max-width: 36px;
  max-height: 36px;
  object-fit: contain;
  pointer-events: none;
}

.navbar-brand {
    font-size: 12px;
    padding-top: 0px !important;
}
.navGroupTools {
    padding-left: 2px;
    padding-right: 2px;
    border-right-style: dotted;
    border-color:gray;
}

.githubSection {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.nav-item {
    display: inline-flex;
}

input[type="file"] {
    display: none;
}